// Image Modal

.image-modal {
  position: relative;
  width: 100%;
  max-height: 90vh;

  &__placeholder {
    height: 72vh;
    border-radius: .5rem .5rem 0 0;
    @include animation('loading-animation 1s infinite');
  }

  &__loaded-image {
    width: 100%;
    display: block;
    border-radius: .5rem .5rem 0 0;
    max-height: 70vh;
    object-fit: scale-down;
  }

  &__content {
    padding: 1.5rem 2rem;

    h4 {
      font-size: 1rem;
      margin-bottom: .25rem;
      color: $grey-dark;
    }

    p {
      font-size: .75rem;
      color: $grey-light;
    }

    @media (min-width: $breakpoint-mobile) {

      h4 {
        font-size: 1.125rem;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      
      padding: 2rem 3rem;

      h4 {
        margin-bottom: .425rem;
      }
    }
  }
}