// Globals
$font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;

// Colors
$grey: #6d7b91;
$grey-dark: #253858;
$grey-light: #8a898a;
$grey-lighter: #dde2e9;
$grey-med: #e6e6e6;
$white: #fff;

// Media Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 475px;
